.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* MOBILE */

@media screen and (max-width: 640px) {
    body {
        width: 100%;
    }
    #a {
        background-color: lightgray;
        width: 480px;
        height: 75px;
    }
    #b {
        background-color: lightcoral;
        width: 480px;
        height: 150px;
    }
    .cd {
        background-color: lightcyan;
        width: 480px;
        height: 125px;
    }
    .efgh {
        background-color: lightgrey;
        width: 240px;
        height: 250px;
    }
    #i {
        background-color: lightcyan;
        width: 480px;
        height: 80px;
    }
}


/* DESKTOP*/

@media all and (min-width: 800px) {
    #a {
        background-color: lightgray;
        width: 960px;
        height: 100px;
    }
    #b {
        background-color: lightcoral;
        width: 200px;
        height: 600px;
        float: left;
    }
    .cd {
        background-color: lightcyan;
        width: 380px;
        height: 200px;
    }
    .efgh {
        background-color: lightgrey;
        width: 190px;
        height: 250px;
    }
    #i {
        background-color: lightcyan;
        width: 760px;
        height: 150px;
    }
}