.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: column wrap;
    align-content: stretch;
}

#a {
    background-color: lightgray;
    width: 480px;
    height: 75px;
}

#b {
    background-color: lightcoral;
    width: 480px;
    height: 150px;
}

.cd {
    background-color: lightcyan;
    width: 480px;
    height: 125px;
}

.efgh {
    background-color: lightgrey;
    width: 240px;
    height: 250px;
}

#i {
    background-color: lightcyan;
    width: 480px;
    height: 80px;
}

/* MOBILE */
@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }

/* DESKTOP*/
@media screen and (min-width: 768px) {
    
}